<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
     <link rel="icon" href="https://www.flaticon.com/svg/static/icons/svg/1055/1055641.svg">
    <title>site with node js</title>
</head>

<body>
    <nav class="nav">
        <h4>&nbsp &nbsp Gestion d'equipement</h4>
        <ul>
            <li></li>
            <li><a href="/Home">Home</a></li>
            <li><a href="/LoginHome">Equipement</a></li>
            <li><a href="/Achat">Gestion Achats</a></li>
            <li><a href="/Budget">Budget</a></li>
            <li><a href="/intervention">intervention</a></li>
            <li><a href="/production">Production</a></li>
      
            <li><img src="https://previews.123rf.com/images/tuktukdesign/tuktukdesign1705/tuktukdesign170500019/77461808-ic%C3%B4ne-utilisateur-vector-man-personne-profil-avatar-glyph-pictogramme-symbole-illustration.jpg" width="30px" height="30px"/></li>
            <li><a href="/login" style="color: red;">Logout</a></li>
        </ul>
    </nav>


<div class="col-12 mb-lg">
                <section class="widget pb-0">
                    <header>
                        <h4>
                            S <strong></strong>
                        </h4>
                        <div class="widget-controls">
                            <a href="#"><i class="la la-cog"></i></a>
                            <a href="#" data-widgster="close"><i class="la la-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body p-0 support table-wrapper">
                        <table class="table table-striped mb-0">
                            <thead>
                                <tr class="text-muted">
                                    <th scope="col"><span class=" pl-3">NAME</span></th>
                                    <th scope="col">Nb Heur travail</th>
                                    <th scope="col">CodeEmp</th>
                                    <th scope="col">Fonction</th>
                                    <th scope="col">Salaire</th>
                                    <th scope="col">totoal Salaire</th>
                                    <th scope="col"><button class="btn btn-xs p-1 px-3 btn-info">Add an Employe</button> </th>
                                </tr>
                            </thead>
                            <tbody class="text-dark">
                                <tr>
                                    <th class="pl-4 fw-normal">Mark Otto</th>
                                    <td>116</td>
                                    <td>ON the Road</td>
                                    <td>$25 224.2</td>
                                    <td>11 May 2017</td>
                                    <td>Otsego</td>
                                    <td><button class="btn btn-xs p-1 px-3 btn-danger">Delete</button>&nbsp<button class="btn btn-xs p-1 px-3 btn-success">Edit</button></td>
                                </tr>
                                <tr>
                                    <th class="pl-4">Jacob Thornton</th>
                                    <td>thornton@wxample.com</td>
                                    <td>HP Core i7</td>
                                    <td>$1 254.2</td>
                                    <td>4 Jun 2017</td>
                                    <td>Fivepointville</td>
                                    <td><button class="btn btn-xs p-1 px-3 btn-danger">Delete</button>&nbsp<button class="btn btn-xs p-1 px-3 btn-success">Edit</button></td>
                                </tr>
                                <tr>
                                    <th class="pl-4">Larry the Bird</th>
                                    <td>bird@wxample.com</td>
                                    <td>Air Pro</td>
                                    <td>$1 570.0</td>
                                    <td>27 Aug 2017</td>
                                    <td>Leadville North</td>
                                    <td><button class="btn btn-xs p-1 px-3 btn-danger">Delete</button>&nbsp<button class="btn btn-xs p-1 px-3 btn-success">Edit</button></td>
                                </tr>
                                <tr>
                                    <th class="pl-4">Joseph May</th>
                                    <td>josephmay@wxample.com</td>
                                    <td>Version Control</td>
                                    <td>$5 224.5</td>
                                    <td>19 Feb 2018</td>
                                    <td>Seaforth</td>
                                    <td><button class="btn btn-xs p-1 px-3 btn-danger">Delete</button>&nbsp<button class="btn btn-xs p-1 px-3 btn-success">Edit</button></td>
                                </tr>
                                <tr>
                                    <th class="pl-4"><input type="texte" name=""></th>
                                    <td><input type="texte" name="" style="width=3px ; height=30px"></td>
                                    <td><input type="password" name="" width="22px"></td>
                                    <td><input type="texte" name=""></td>
                                    <td></td>
                                    <td></td>
                                    <td><button class="btn btn-xs p-1 px-3 btn-info">Delete</button>&nbsp<button class="btn btn-xs p-1 px-3 btn-success">Save</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>




    <div class="container mt-4">
        <div class="jumbotron">
            
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
</body>

</html>