
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<script type="text/javascript">
        
        </script>
     <script type="text/javascript">
function connection(){
var status = navigator.onLine ; 
if(status)
  alert("connect"); 
else 
alert("not connect ");   
                                                                     } 

     </script>
     <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
     <link rel="icon" href="https://www.flaticon.com/svg/static/icons/svg/1055/1055641.svg">
    <title>site with node js</title>
</head>

<body>
    
    <nav class="nav">
        <h4>&nbsp &nbsp Gestion d'equipement</h4>
        <ul>
            <li></li>
            <li><a href="">Home</a></li>
            <li><a href="">Equipement</a></li>
            <li><a href="">Gestion Achats</a></li>
            <li><a href="">Budget</a></li>
            <li><a href="">intervention</a></li>
            <li><a href="">Production</a></li>
      
            <li></li>
            <li><a href="/login" style="color: blue;">Login</a></li>
        </ul>
    </nav>









<h1>Upload file</h1>
<form method="POST" action="/" enctype="multipart/form-data">
 <input type="file" name="file"/>
 <input type="submit" value="Upload"/>
</form>



                                    




   
<div class="col-12 mb-lg">
                <section class="widget pb-0">
                    <header>
                        <h4>
                            Support <strong>Requests</strong>
                        </h4>
                        <div class="widget-controls">
                            <a href="#"><i class="la la-cog"></i></a>
                            <a href="#" data-widgster="close"><i class="la la-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body p-0 support table-wrapper">
                        <table class="table table-striped mb-0">
                            <thead>
                                <tr class="text-muted">
                                    <th scope="col"><span class=" pl-3">NAME</span></th>
                                    <th scope="col">EMAIL</th>
                                    <th scope="col">PRODUCT</th>
                                    <th scope="col">PRICE</th>
                                    <th scope="col">DATE</th>
                                    <th scope="col">CITY</th>
                                    <th scope="col">STATUS</th>
                                </tr>
                            </thead>
                            <tbody class="text-dark">
                                <tr>
                                    <th class="pl-4 fw-normal">Mark Otto</th>
                                    <td>ottoto@wxample.com</td>
                                    <td>ON the Road</td>
                                    <td>$25 224.2</td>
                                    <td>11 May 2017</td>
                                    <td>Otsego</td>
                                    <td><button class="btn btn-xs p-1 px-3 btn-info">Sent</button></td>
                                </tr>
                                <tr>
                                    <th class="pl-4">Jacob Thornton</th>
                                    <td>thornton@wxample.com</td>
                                    <td>HP Core i7</td>
                                    <td>$1 254.2</td>
                                    <td>4 Jun 2017</td>
                                    <td>Fivepointville</td>
                                    <td><button class="btn btn-xs p-1 px-3 btn-info">Sent</button></td>
                                </tr>
                                <tr>
                                    <th class="pl-4">Larry the Bird</th>
                                    <td>bird@wxample.com</td>
                                    <td>Air Pro</td>
                                    <td>$1 570.0</td>
                                    <td>27 Aug 2017</td>
                                    <td>Leadville North</td>
                                    <td><button class="btn btn-xs p-1 px-3 btn-success">Pending</button></td>
                                </tr>
                                <tr>
                                    <th class="pl-4">Joseph May</th>
                                    <td>josephmay@wxample.com</td>
                                    <td>Version Control</td>
                                    <td>$5 224.5</td>
                                    <td>19 Feb 2018</td>
                                    <td>Seaforth</td>
                                    <td><button class="btn btn-xs p-1 px-3 btn-danger">Declined</button></td>
                                </tr>
                                <tr>
                                    <th class="pl-4">Peter Horadnia</th>
                                    <td>horadnia@wxample.com</td>
                                    <td>Let's Dance</td>
                                    <td>$43 594.7</td>
                                    <td>1 Mar 2018</td>
                                    <td>Hanoverton</td>
                                    <td><button class="btn btn-xs p-1 px-3 btn-info">Sent</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>


    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Login project with nodeJs</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
                to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" onclick="connection()" role="button">Learn more</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
</body>

</html>





