<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
     <link rel="icon" href="https://www.flaticon.com/svg/static/icons/svg/1055/1055641.svg">
    <title>site with node js</title>
</head>

<body>
    <nav class="nav">
        <h4>&nbsp &nbsp Gestion d'Achats</h4>
        <ul>
            <li></li>
            <li><a href="/Home">Home</a></li>
            <li><a href="/LoginHome">Equipement</a></li>
            <li><a href="/Achat">Gestion Achats</a></li>
            <li><a href="/Budget">Budget</a></li>
            <li><a href="/intervention">intervention</a></li>
            <li><a href="/Production">Production</a></li>
      
            <li><img src="https://previews.123rf.com/images/tuktukdesign/tuktukdesign1705/tuktukdesign170500019/77461808-ic%C3%B4ne-utilisateur-vector-man-personne-profil-avatar-glyph-pictogramme-symbole-illustration.jpg" width="30px" height="30px"/></li>
            <li><a href="/login" style="color: red;">Logout</a></li>
        </ul>
    </nav>


<div class="col-12 mb-lg">
                <section class="widget pb-0">
                    <header>
                        <h4>
                        <strong style="color: green">Listes des Demandes</strong>
                        </h4>
                        <div class="widget-controls">
                            <a href="#"><i class="la la-cog"></i></a>
                            <a href="#" data-widgster="close"><i class="la la-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body p-0 support table-wrapper">
                        <table class="table table-striped mb-0">
                            <thead>
                                <tr class="text-muted">
                                    <th scope="col"><span class=" pl-3">NAME</span></th>
                                    <th scope="col">Num demande</th>
                                    <th scope="col">Demandeur</th>
                                    <th scope="col">Type maintenance</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">prioritée</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody class="text-dark">
                                <tr>
                                    <th class="pl-4 fw-normal">SafranDem</th>
                                    <td>116</td>
                                    <td>Safran</td>
                                    <td>installation</td>
                                    <td>11 May 2017</td>
                                    <td>1</td>
                                    <td><button class="btn btn-xs p-1 px-3 btn-danger">Delete</button>&nbsp<button class="btn btn-xs p-1 px-3 btn-success">Edit</button> &nbsp<button class="btn btn-xs p-1 px-3 btn-info">Add</button></td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>


      &nbsp  &nbsp &nbsp &nbsp &nbsp 
    
    
    <div class="col-12 mb-lg">
                <section class="widget pb-0">
                    <header>
                        <h4>
                             <strong style="color: green">Info de demandes:</strong>
                        </h4>
                        <div class="widget-controls">
                            <a href="#"><i class="la la-cog"></i></a>
                            <a href="#" data-widgster="close"><i class="la la-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body p-0 support table-wrapper">
                        <table class="table table-striped mb-0">
                            <thead>
                                <tr class="text-muted">
                                    <th scope="col"><span class=" pl-3">Num demande</span></th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Demandeur</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Priorité</th>
                                   
                            
                                </tr>
                            </thead>
                            <tbody class="text-dark">
                                <tr>
                                    <th class="pl-4 fw-normal"><input type="" name=""></ins></th>
                                    <td><input type="" name=""></ins></td>
                                    <td><input type="" name=""></ins></td>
                                    <td><input type="" name=""></ins></td>
                                    <td><input type="" name=""></ins></td>
                                    <td></td>
                                    
                                    <td><button class="btn btn-xs p-1 px-3 btn-success">Save demande</button></td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
</body>

</html>