<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
     <link rel="icon" href="https://www.flaticon.com/svg/static/icons/svg/1055/1055641.svg">
    <title>Register</title>
</head>

<body>
    <nav class="nav">
        <h4>Register</h4>
        <ul>
            <li><a href="/Home">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="./">Register</a></li>
        </ul>
    </nav>
    <div class="container mt-4">
        <div class="card">
            <div class="card header">
              <h4> Registrez vous</h4> 
            </div>
            <div class="card-body">
                <form action="/auth/register" method="POST">

    

                        <label for="name"><p style="color: brown;">Role:User or Admin</p></label>
                        <input type="text" class="form-control" id="role" name="name" ><br>
                    
                    <div class="form-group">
                        <label for="email"><p style="color: brown;">Email</p></label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="password"><p style="color: brown;">password</p></label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                     <div class="form-group">
                        <label for="passwordConfirm"><p style="color: brown;">confirm password</p></label>
                        <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm">
                    </div>
                    
                    <button type="submit" class="btn btn-primary" >Submit</button>
                </form>
            </div>
        </div>
         {{#if message}}
        <h4 class="alert alert-danger mt-4">{{message}}</h4>
        {{/if}}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
</body>

</html>